// PADDINGS
$padding-feature-restau: (vertical:55px, horizontal:21px);
$padding-desktop: 10%;

// RESPONSIVE
$breakpoints: (tablet:760px, desktop:1200px);

// VARIABLES COULEURS
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #fff;

$dark-grey: lighten(black, 20%);
$mid-grey: lighten(black, 90%);
$light-grey: lighten(black, 95%);

// VARIABLES LAYOUT CARDS
$border-radius-cards: 20px;






