html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}

body {
  display: inline-block;
  font-size: 62.5%;
  width: 100%;
}

.page-container {
  width: 100%;
  z-index: 1;
}

a:link {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "roboto", sans-serif;
}

h1, h2 {
  font-size: 1.7rem;
  font-weight: 900;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

.btn {
  font-size: 1em;
  font-weight: 500;
  margin: 25px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: #fff;
  padding: 0 20px;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background: linear-gradient(175deg, #ff93e1 0%, #a16be0 100%);
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;
}

.like > i {
  width: 1.75rem;
}

.load {
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: unset;
  animation: fadeout 3s forwards;
}
.load__food {
  width: 180px;
  animation: cloche 1200ms ease-in-out alternate infinite;
  position: relative;
}
.load__spinner {
  width: 30px;
  height: 30px;
  margin: 50px;
  background-color: #c1ede2;
  border: #9356DC solid 3px;
  border-radius: 50%;
  animation: spin 1200ms cubic-bezier(0.4, 0, 0.08, 1) infinite;
  border-color: #9356DC transparent #FF79DA transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeout {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes cloche {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
.image {
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

footer {
  background-color: #333333;
  color: #fff;
  padding: 0 0 1rem 2rem;
  margin: 0;
  width: calc(100% - 2rem);
}
@media all and (min-width: 1200px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
  }
}

.footlogo {
  font-family: "Shrikhand";
  margin: 1rem;
  font-size: 1.7rem;
  text-align: center;
}
@media all and (min-width: 1200px) {
  .footlogo {
    width: 100%;
  }
}

.footlink {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
}

.footer_icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}

header {
  position: relative;
  width: 100%;
}
header i {
  color: black;
  position: absolute;
  font-size: 1.5rem;
  align-self: center;
  left: 2rem;
  top: 2.25rem;
}
header .titre {
  font-size: 1.5rem;
  font-family: "Shrikhand";
  text-align: center;
  margin: 0;
  padding: 2rem 0 1rem 0;
}

section {
  /*-------animations apparitions des menus-------*/
  /*--------animations slider des menus-------*/
}
section section {
  margin: -5rem 0 0 0;
  border-radius: 3rem 3rem 0 0;
  background-color: #f6f6f6;
  padding: 0 2rem 3rem 2rem;
}
section .headcontent {
  display: flex;
  align-items: center;
  font-family: "Shrikhand";
  font-size: 1rem;
  justify-content: space-between;
  padding: 1rem 0;
}
section .like {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #99E2D0;
}
section .like > i {
  position: absolute;
  font-size: 2rem;
}
section .flatbg {
  opacity: 0;
  transition-duration: 500ms;
}
section .flat {
  transition-duration: 500ms;
}
section .like:hover > .flat {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 500ms;
  transform: scale(1.2);
}
section .like:hover > .flatbg {
  display: block;
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.2);
  transition-duration: 500ms;
}
section .cardcontent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}
section .cardcontent .column {
  width: 100%;
  padding: 0;
}
@media all and (min-width: 1200px) {
  section .cardcontent .column {
    width: 33%;
  }
}
section .cardcontent h3 {
  font-weight: 400;
  border-bottom: 3px solid #99E2D0;
  width: 4rem;
  position: relative;
  bottom: 1rem;
}
section .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  flex-wrap: nowrap;
  border-radius: 2rem;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.1);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #fff;
  cursor: pointer;
  transition-duration: 300ms;
}
section .cardinfo {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
section .cardinfo > div > p, section .cardinfo > div > h4 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
section .cardinfo .prix {
  display: flex;
  align-items: flex-end;
  margin-right: 0.5rem;
}
section .entrees {
  animation: apparition 2s;
}
section .plats {
  animation: apparition 3s;
}
section .desserts {
  animation: apparition 4s;
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(105%);
  }
  100% {
    transform: scale(100%);
  }
}
section .selectmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem -1rem;
  width: 4rem;
  transition-duration: 0.5s;
}
section .menu:hover > .selectmenu {
  transition-duration: 0.5s;
  margin: -1rem -1rem -1rem 0rem;
}
section .menu:hover > .selectmenu > i {
  transform: rotate(0deg);
  transition-duration: 0.7s;
}
section .fa-check {
  color: #99E2D0;
  border-radius: 100%;
  background-color: white;
  padding: 0.2rem;
  transform: rotate(360deg);
  transition-duration: 0.7s;
}

/*# sourceMappingURL=restaurant.css.map */
