footer {
    background-color: $dark-grey;
    color: $color-white;
    padding: 0 0 1rem 2rem;
    margin: 0;
    width: calc(100% - 2rem);
    @include desktop-only {
       @include flexbox(row, space-around, center, wrap);
       padding: 0 1rem;

    }
}

.footlogo{
    font-family:'Shrikhand';
    margin: 1rem;
    font-size: 1.7rem;
    text-align: center;
    @include desktop-only{
        width: 100%;
    }
}

.footlink {
    @include flexbox (row, flex-start, center, nowrap);
    font-weight: 500;
    font-size: 1.2rem;
    color: $color-white;
   }

.footer_icon {
  width: 1.5rem;
  margin-right: 0.5rem;
    } 
