footer {
    background-color: $dark-grey;
    color: lighten($dark-grey, 80%);
    padding: 25px 25px 40px;
    @include desktop-only { 
       @include padding-desktop;
    }
}

.footer-links {
    list-style: none;
    font-weight: 300;
    font-size: 0.9em;
    @include tablet {
        @include flexbox(row, unset, unset, wrap);
    }
    &__element{
        @include flexbox(row, unset, center,unset);
        padding: 4px 0;
        @include tablet {
            flex: auto;
        }
        &--bold {
            font-weight: 400;
        }
    }
}

.footer__icon {
    font-size: 0.8em;
    padding-right: 12px;
    &--rotate {
        display: inline-block;
        transform: rotate(-15deg); 
        font-size: 0.65em;
    } 
}