footer {
    background-color: $dark-grey;
    color: lighten($dark-grey, 80%);
    padding: 2rem;
    margin: auto;
    @include desktop-only {
       @include flexbox(row, space-around, center, wrap) 
       @include padding-desktop;
    }
}

.footlogo{
    color: white;
    font-style:'Shrikhand'
}

.footlink {
    @include flexbox (row, unset, center, nowrap)
    color: white
    font-weight: 300;
    font-size: 0.9em;
   }

.footer_icon {
  width: 1.5rem;
    } 
