header {
    @include flexbox(row, center, unset, unset);
    padding: 22px 0 12px;
    box-shadow: 0px 2px 5px 1px rgb(0 0 0 / 10%);
    position: relative; // permet de faire apparaitre box-shadow
      
    img {
        height: 28px;
    }

    .header__icon {
        font-size: 1.2em;
        color: $dark-grey;
        position: absolute;
        left: 23px;
        &:hover {
            color: $color-primary;
        }
        @include desktop-only {
            left: 10%;
        }
    }
}

