	.page{

		margin: -5rem 0 0 0;
	    border-radius: 3rem 3rem 0 0;
	    background-color: $light-grey;
	    padding: 0 2rem 3rem 2rem;
	    @include desktop-only{
	    	    margin: -5rem 5rem 0 5rem;
	    		padding: 0 3rem 3rem 3rem;
	    }
	    @include tablet{
	    	    margin: -5rem 3rem 0 3rem;
	    		padding: 0 2rem 2rem 2rem;
	    }

		&__headcontent{
			@include flexbox (row, space-between, center, unset);
	    	padding: 1rem 0;
		
		&__title{		
	    	@include desktop-only{
	    	}
	    	}
		}

		&-content{
			@include flexbox (row, space-between, unset, wrap);
			padding: 0;
		}
		&-menu{
			width: 100%;
				&>h3{
						    font-weight: 400;
	   	 					border-bottom: 3px solid $color-tertiary;
	    					width: 4rem;
	    					position: relative;
	    					bottom: 1rem;
				}
			@include desktop-only{
			width: calc(100% / 3);
			}
		}
		&-card{
			@include flexbox (row, space-between, unset, unset);
			position: relative;
	    		margin: 1rem 0.5rem;
			padding: 1rem;
	    		cursor: pointer;
	    		overflow: hidden;
	    		transition-duration: 300ms;
			@include layout-cards;
			background-color: $color-white;
				&:hover>.card-select{
					    transition-duration: .5s;
	   					margin: -1rem -1rem -1rem 0rem;
	   					&>i{
	   						    transform: rotate(0deg);
	    						transition-duration: .7s;
	   					}
				}
		}
		&__btn
		{
			@include flexbox (unset, center, unset, unset);
		}
	}

	.card{
		@include flexbox(row, space-between, center, nowrap);
		width: 100%;
		font-size: 1rem;
	    text-overflow: ellipsis;
	    overflow: hidden;

		&-info{
			@include text-overflow;
				&>h4{
					margin: 0;
					@include text-overflow;

				}
				&>p{
					margin: 0;
					@include text-overflow;
				}
		}
		&-price{
			@include flexbox (row, unset, flex-end, unset);
			margin-right: 0.5rem;
		}
		&-select{
	   		@include flexbox (row, center, center, unset);
	    	background-color: $color-tertiary;
	    	margin: -1rem -5rem -1rem -1rem;
	    	width: 4rem;
	    	transition-duration: .5s;
		}
		&__icon{
	    	color: $color-tertiary;
	    	border-radius: 100%;
	    	background-color: $color-white;
	    	padding: 0.2rem;
	    	transform: rotate(360deg);
	    	transition-duration: .7s;	
		}
	}

	/*--------animations slider des menus -------*/

	.card:hover>.card__icon
	{
	    transition-duration: .5s;
	    margin: -1rem -1rem -1rem 0rem;
	}
	.page-card:hover>i .card__icon
	{
	    transform: rotate(0deg);
	    transition-duration: .7s;
	}


