.page{

	margin: -5rem 0 0 0;
    border-radius: 3rem 3rem 0 0;
    background-color: $light-grey;
    padding: 0 2rem 3rem 2rem;
    @include desktop-only{
    	    margin: -5rem 5rem 0 5rem;
    		padding: 0 3rem 3rem 3rem;
    }
    @include tablet{
    	    margin: -5rem 3rem 0 3rem;
    		padding: 0 2rem 2rem 2rem;
    }

	&__headcontent{
		@include flexbox (row, space-between, center, unset);
    	padding: 1rem 0;
	}
	&__title{		
		font-family: 'Shrikhand';
    	font-size: 1rem;
    }
	&-content{
		@include flexbox (row, unset, center, wrap);
	}
	&-menu{
		padding: 1rem;
		width: calc(33% - 2rem);
	}
	&-card{
		@include flexbox (row, space-between, center, unset);
		width: 100%;
		border-radius: $border-radius-card;
	}
	&__btn
	{
		@include flexbox (unset, center, unset, unset)
	}
}



/*--------animations slider des menus -------*/

.card-select
{
   @include flexbox (row, center, center, unset);
    background-color: $color-tertiary;
    margin: -1rem -5rem -1rem -1rem;
    width: 4rem;
    transition-duration: .5s;
}
.card-select:hover>.card__icon
{
    transition-duration: .5s;
    margin: -1rem -1rem -1rem 0rem;
}
.card-select:hover>.card__icon>i
{
    transform: rotate(0deg);
    transition-duration: .7s;
}
.fa-check
{
    color: #99E2D0;
    border-radius: 100%;
    background-color: white;
    padding: 0.2rem;
    transform: rotate(360deg);
    transition-duration: .7s;
}

