header {
        position: relative;
        padding: 1rem;
    &.head__icon
    {
        color: black;
        position: absolute;
        font-size: 1.5rem;
        left: 2rem;
        top: 1.75rem;
    }
    &.head__logo
    {
        font-family: 'Shrikhand';
        text-align: center;
        margin: 0;
    }
}

