
.like
{
    position: relative;
    margin: 1rem;
    padding: 0;
    @include flexbox(unset, center, center, unset);
    cursor: pointer;
     &>i{
                position: absolute;
                font-size: 2rem;
       }
    
     &>.__empty{
                        color: $color-tertiary;
                        transition-duration: 500ms;
            }
    
     &>.__full{
                        opacity: 0;
                        transition-duration: 500ms;
            }
  
}


.like:hover{
            &>.__empty{
                        opacity: 0;
                        transition-duration: 500ms;
            }
            &>.__full{
                        opacity: 1;
                        transition-duration: 1s;
                        background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                        transform: scale(1.05);
                        z-index: 1;
            }

        }
  
